.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav-links a.active-link {
  color: #FFB22C !important;
}

.navbar {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.btn-outline {
  border: 2px solid #facc15;
  font-weight: 600;
  background: transparent;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-outline:hover {
  background: #ffffff;
  color: black;
}

.btn-primary {
  background-color: #facc15;
  color: rgb(0, 0, 0);
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

